<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Header</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <footer
      class="text-white py-5"
      style="border-top: solid 1px rgba(84, 84, 84, 0.14)"
    >
      <div class="d-flex justify-content-center">
        <div class="d-flex">
          <div class="col-md-4" style="width: 1.5rem">
            <img
              src="../../public/img/twitter-rounded-svgrepo-com.svg"
              alt="Image 1"
              class="img-fluid"
            />
          </div>
          <div class="col-md-4 mx-2" style="width: 1.5rem">
            <img src="../../public/img/github-svgrepo-com.svg" alt="Image 2" class="img-fluid" />
          </div>
          <div class="col-md-4" style="width: 1.8rem">
            <img
              src="../../public/img/facebook-svgrepo-com (1).svg"
              alt="Image 3"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <h6
        class="text-center mt-3"
        style="font-style: italic; font-family: 'Lora'; color: #76757d"
      >
        Copyright © Hack Academy 2022
      </h6>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
