    <div class="hero-dark-veil">
      <div class="d-flex justify-content-center align-items-center" style="
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/img/Thepowerofheroimagedesignfeaturedimage.b02b5a05.avif');
      background-repeat: no-repeat;
      background-size: cover;
      height: 50vh;
      margin-top: 3.5rem;">
        <div class="d-flex flex-column">
          <h1 class="text-white text-center display-2 fw-bolder">Hack the blog</h1>
          <p class="text-white text-center">The blog of Hack Academy</p>
        </div>
      </div>
    </div>
    