    <div class="d-flex justify-content-center align-items-center hero-image">
      <div class="d-flex flex-column">
        <h1 class="text-white text-center">Hack the blog</h1>
        <p class="text-white text-center">El blog de Hack Academy</p>
      </div>
    </div>
    