    <div class="hero-dark-veil">
      <div class="d-flex justify-content-center align-items-center hero-image">
        <div class="d-flex flex-column">
          <h1 class="text-white text-center display-2 fw-bolder">Hack the blog</h1>
          <p class="text-white text-center">The blog of Hack Academy</p>
        </div>
      </div>
    </div>
    