<header>
    <nav class="navbar bg-black fixed-top">
      <div class="container">
        <a class="navbar-brand text-light" href="/">Hack the Blog</a>
          <a class="btn btn-primary" type="submit" href="/admin">Admin</a>
        </form>
      </div>
    </nav>
</header>

